

    <div class="jumbotron">
        <h1>College finder </h1>
        <p></p>
    </div>

    <% if (true || loggedIn) {%>
        <form method="post" action="/colleges/byName">
            Show Colleges by Name: 
              <input type="text" name="name" 
                     placeholder="e.g. Cornell University">
            <input type="submit">
        </form>
        <br>  

        <a href="/schoolList/show">Show College List</a>
    <% } %>


